In [2]:
#this is my life expectancy data cleaning notebook

In [107]:
# Dependencies and Setup
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [108]:
# File to Load
life_data = "lifeData.csv"

# Read Data File and store into Pandas DataFrames
life_df = pd.read_csv(life_data)
life_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [109]:
life_clean = life_df.drop('Total expenditure',axis =1)
life_clean = life_clean.drop('percentage expenditure',axis =1)
life_clean = life_clean.drop('Income composition of resources',axis =1)

In [110]:
life_clean = life_clean.drop('Alcohol',axis =1)
life_clean = life_clean.drop('under-five deaths ',axis=1)
life_clean = life_clean.drop(' thinness  1-19 years',axis =1)
life_clean = life_clean.drop(' thinness 5-9 years',axis =1)

life_clean.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Hepatitis B,Measles,BMI,Polio,Diphtheria,HIV/AIDS,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,65.0,1154,19.1,6.0,65.0,0.1,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,62.0,492,18.6,58.0,62.0,0.1,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,64.0,430,18.1,62.0,64.0,0.1,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,67.0,2787,17.6,67.0,67.0,0.1,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,68.0,3013,17.2,68.0,68.0,0.1,63.537231,2978599.0,9.5

In [111]:
life_clean.to_csv('life_exp_clean.csv')

In [112]:
#data for developing countries, all years (2000-2015)

#df for all years
country_stats = life_clean.drop('infant deaths',axis=1)
country_stats = country_stats.drop('Hepatitis B',axis=1)
country_stats = country_stats.drop('Measles ',axis=1)
country_stats = country_stats.drop(' BMI ',axis=1)
country_stats = country_stats.drop('Polio',axis=1)
country_stats = country_stats.drop('Diphtheria ',axis=1)
country_stats = country_stats.drop(' HIV/AIDS',axis=1)

country_stats.head()

developING_00_15 = country_stats[country_stats.Status == 'Developing']

developING_00_15.head()

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,63.537231,2978599.0,9.5

In [113]:
developING_00_15.to_csv('developING_00_15.csv')

In [114]:
#data for developed countries, all years (2000-2015)

#df for all years
country_stats_2 = life_clean.drop('infant deaths',axis=1)
country_stats_2 = country_stats_2.drop('Hepatitis B',axis=1)
country_stats_2 = country_stats_2.drop('Measles ',axis=1)
country_stats_2 = country_stats_2.drop(' BMI ',axis=1)
country_stats_2 = country_stats_2.drop('Polio',axis=1)
country_stats_2 = country_stats_2.drop('Diphtheria ',axis=1)
country_stats_2 = country_stats_2.drop(' HIV/AIDS',axis=1)

developED_00_15 = country_stats_2[country_stats_2.Status == 'Developed']

developED_00_15.head()

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
112,Australia,2015,Developed,82.8,59.0,56554.38760,23789338.0,20.4
113,Australia,2014,Developed,82.7,6.0,62214.69120,2346694.0,20.4
114,Australia,2013,Developed,82.5,61.0,67792.33860,23117353.0,20.3
115,Australia,2012,Developed,82.3,61.0,67677.63477,22728254.0,20.1
116,Australia,2011,Developed,82.0,63.0,62245.12900,223424.0,19.8

In [115]:
developED_00_15.to_csv('developED_00_15.csv')

In [116]:
#mortality and life expectancy by country, including country status by developed(ing), GDP, schooling (2015)
#only year 2015
country_status_15 = life_clean[life_clean.Year == 2015]
#drop infant deaths, virus data, BMI
country_status_15 = country_status_15.drop('infant deaths',axis=1)
country_status_15 = country_status_15.drop('Hepatitis B',axis=1)
country_status_15 = country_status_15.drop('Measles ',axis=1)
country_status_15 = country_status_15.drop(' BMI ',axis=1)
country_status_15 = country_status_15.drop('Polio',axis=1)
country_status_15 = country_status_15.drop('Diphtheria ',axis=1)
country_status_15 = country_status_15.drop(' HIV/AIDS',axis=1)

country_status_15.head()

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,584.259210,33736494.0,10.1
16,Albania,2015,Developing,77.8,74.0,3954.227830,28873.0,14.2
32,Algeria,2015,Developing,75.6,19.0,4132.762920,39871528.0,14.4
48,Angola,2015,Developing,52.4,335.0,3695.793748,2785935.0,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,13566.954100,NaN,13.9

In [117]:
country_status_15.to_csv('country_status_15.csv')

In [118]:
#data for developing countries in 2015
developing_15 = country_status_15[country_status_15.Status == 'Developing']

developing_15.head()

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,584.259210,33736494.0,10.1
16,Albania,2015,Developing,77.8,74.0,3954.227830,28873.0,14.2
32,Algeria,2015,Developing,75.6,19.0,4132.762920,39871528.0,14.4
48,Angola,2015,Developing,52.4,335.0,3695.793748,2785935.0,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,13566.954100,NaN,13.9

In [119]:
developing_15.to_csv('developing_15.csv')

In [120]:
#developed countries in 2015
developed_15 = country_status_15[country_status_15.Status == 'Developed']

developed_15.head(12)

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
112,Australia,2015,Developed,82.8,59.0,56554.38760,23789338.0,20.4
128,Austria,2015,Developed,81.5,65.0,43665.94700,8633169.0,15.9
240,Belgium,2015,Developed,81.1,74.0,4356.87500,11274196.0,16.6
384,Bulgaria,2015,Developed,74.5,137.0,6993.47736,7177991.0,15.0
641,Croatia,2015,Developed,78.0,95.0,11579.66740,42364.0,15.3
673,Cyprus,2015,Developed,85.0,52.0,2375.11270,116985.0,14.3
689,Czechia,2015,Developed,78.8,86.0,NaN,NaN,NaN
737,Denmark,2015,Developed,86.0,71.0,5314.64416,5683483.0,19.2
994,Germany,2015,Developed,81.0,68.0,41176.88158,81686611.0,17.1
1154,Hungary,2015,Developed,75.8,134.0,12365.62630,984328.0,15.6
1170,Iceland,2015,Developed,82.7,49.0,5734.44360,33815.0,19.0
1250,Ireland,2015,Developed,81.4,64.0,6664.14400,4676835.0,18.6

In [121]:
developed_15.to_csv('developed_15.csv')

In [142]:
rds_connection_string = "postgres:Finnlady3!@localhost:5432/life_exp"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [143]:
engine.table_names()

['life_exp_clean',
 'developing_all_yrs',
 'developed_all_yrs',
 'all_countries_2015',
 'developing_2015',
 'developed_2015']

In [144]:
#load csv converted df into database
#life expectancy data cleaned
life_clean.to_sql(name='life_exp_clean', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country" of relation "life_exp_clean" does not exist
LINE 1: INSERT INTO life_exp_clean ("Country", "Year", "Status", "Li...
                                    ^

[SQL: INSERT INTO life_exp_clean ("Country", "Year", "Status", "Life expectancy ", "Adult Mortality", "infant deaths", "Hepatitis B", "Measles ", " BMI ", "Polio", "Diphtheria ", " HIV/AIDS", "GDP", "Population", "Schooling") VALUES (%(Country)s, %(Year)s, %(Status)s, %(Life expectancy )s, %(Adult Mortality)s, %(infant deaths)s, %(Hepatitis B)s, %(Measles )s, %( BMI )s, %(Polio)s, %(Diphtheria )s, %( HIV/AIDS)s, %(GDP)s, %(Population)s, %(Schooling)s)]
[parameters: ({'Country': 'Afghanistan', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 65.0, 'Adult Mortality': 263.0, 'infant deaths': 62, 'Hepatitis B': 65.0, 'Measles ': 1154, ' BMI ': 19.1, 'Polio': 6.0, 'Diphtheria ': 65.0, ' HIV/AIDS': 0.1, 'GDP': 584.2592099999999, 'Population': 33736494.0, 'Schooling': 10.1}, {'Country': 'Afghanistan', 'Year': 2014, 'Status': 'Developing', 'Life expectancy ': 59.9, 'Adult Mortality': 271.0, 'infant deaths': 64, 'Hepatitis B': 62.0, 'Measles ': 492, ' BMI ': 18.6, 'Polio': 58.0, 'Diphtheria ': 62.0, ' HIV/AIDS': 0.1, 'GDP': 612.696514, 'Population': 327582.0, 'Schooling': 10.0}, {'Country': 'Afghanistan', 'Year': 2013, 'Status': 'Developing', 'Life expectancy ': 59.9, 'Adult Mortality': 268.0, 'infant deaths': 66, 'Hepatitis B': 64.0, 'Measles ': 430, ' BMI ': 18.1, 'Polio': 62.0, 'Diphtheria ': 64.0, ' HIV/AIDS': 0.1, 'GDP': 631.744976, 'Population': 31731688.0, 'Schooling': 9.9}, {'Country': 'Afghanistan', 'Year': 2012, 'Status': 'Developing', 'Life expectancy ': 59.5, 'Adult Mortality': 272.0, 'infant deaths': 69, 'Hepatitis B': 67.0, 'Measles ': 2787, ' BMI ': 17.6, 'Polio': 67.0, 'Diphtheria ': 67.0, ' HIV/AIDS': 0.1, 'GDP': 669.959, 'Population': 3696958.0, 'Schooling': 9.8}, {'Country': 'Afghanistan', 'Year': 2011, 'Status': 'Developing', 'Life expectancy ': 59.2, 'Adult Mortality': 275.0, 'infant deaths': 71, 'Hepatitis B': 68.0, 'Measles ': 3013, ' BMI ': 17.2, 'Polio': 68.0, 'Diphtheria ': 68.0, ' HIV/AIDS': 0.1, 'GDP': 63.537231000000006, 'Population': 2978599.0, 'Schooling': 9.5}, {'Country': 'Afghanistan', 'Year': 2010, 'Status': 'Developing', 'Life expectancy ': 58.8, 'Adult Mortality': 279.0, 'infant deaths': 74, 'Hepatitis B': 66.0, 'Measles ': 1989, ' BMI ': 16.7, 'Polio': 66.0, 'Diphtheria ': 66.0, ' HIV/AIDS': 0.1, 'GDP': 553.32894, 'Population': 2883167.0, 'Schooling': 9.2}, {'Country': 'Afghanistan', 'Year': 2009, 'Status': 'Developing', 'Life expectancy ': 58.6, 'Adult Mortality': 281.0, 'infant deaths': 77, 'Hepatitis B': 63.0, 'Measles ': 2861, ' BMI ': 16.2, 'Polio': 63.0, 'Diphtheria ': 63.0, ' HIV/AIDS': 0.1, 'GDP': 445.89329789999994, 'Population': 284331.0, 'Schooling': 8.9}, {'Country': 'Afghanistan', 'Year': 2008, 'Status': 'Developing', 'Life expectancy ': 58.1, 'Adult Mortality': 287.0, 'infant deaths': 80, 'Hepatitis B': 64.0, 'Measles ': 1599, ' BMI ': 15.7, 'Polio': 64.0, 'Diphtheria ': 64.0, ' HIV/AIDS': 0.1, 'GDP': 373.3611163, 'Population': 2729431.0, 'Schooling': 8.7}  ... displaying 10 of 2938 total bound parameter sets ...  {'Country': 'Zimbabwe', 'Year': 2001, 'Status': 'Developing', 'Life expectancy ': 45.3, 'Adult Mortality': 686.0, 'infant deaths': 25, 'Hepatitis B': 76.0, 'Measles ': 529, ' BMI ': 25.9, 'Polio': 76.0, 'Diphtheria ': 75.0, ' HIV/AIDS': 42.1, 'GDP': 548.587312, 'Population': 12366165.0, 'Schooling': 9.8}, {'Country': 'Zimbabwe', 'Year': 2000, 'Status': 'Developing', 'Life expectancy ': 46.0, 'Adult Mortality': 665.0, 'infant deaths': 24, 'Hepatitis B': 79.0, 'Measles ': 1483, ' BMI ': 25.5, 'Polio': 78.0, 'Diphtheria ': 78.0, ' HIV/AIDS': 43.5, 'GDP': 547.3588785000001, 'Population': 12222251.0, 'Schooling': 9.8})]
(Background on this error at: http://sqlalche.me/e/f405)

In [145]:
#load csv converted df into database
#developing countries, all years
developING_00_15.to_sql(name='developing_all_yrs', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country" of relation "developing_all_yrs" does not exist
LINE 1: INSERT INTO developing_all_yrs ("Country", "Year", "Status",...
                                        ^

[SQL: INSERT INTO developing_all_yrs ("Country", "Year", "Status", "Life expectancy ", "Adult Mortality", "GDP", "Population", "Schooling") VALUES (%(Country)s, %(Year)s, %(Status)s, %(Life expectancy )s, %(Adult Mortality)s, %(GDP)s, %(Population)s, %(Schooling)s)]
[parameters: ({'Country': 'Afghanistan', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 65.0, 'Adult Mortality': 263.0, 'GDP': 584.2592099999999, 'Population': 33736494.0, 'Schooling': 10.1}, {'Country': 'Afghanistan', 'Year': 2014, 'Status': 'Developing', 'Life expectancy ': 59.9, 'Adult Mortality': 271.0, 'GDP': 612.696514, 'Population': 327582.0, 'Schooling': 10.0}, {'Country': 'Afghanistan', 'Year': 2013, 'Status': 'Developing', 'Life expectancy ': 59.9, 'Adult Mortality': 268.0, 'GDP': 631.744976, 'Population': 31731688.0, 'Schooling': 9.9}, {'Country': 'Afghanistan', 'Year': 2012, 'Status': 'Developing', 'Life expectancy ': 59.5, 'Adult Mortality': 272.0, 'GDP': 669.959, 'Population': 3696958.0, 'Schooling': 9.8}, {'Country': 'Afghanistan', 'Year': 2011, 'Status': 'Developing', 'Life expectancy ': 59.2, 'Adult Mortality': 275.0, 'GDP': 63.537231000000006, 'Population': 2978599.0, 'Schooling': 9.5}, {'Country': 'Afghanistan', 'Year': 2010, 'Status': 'Developing', 'Life expectancy ': 58.8, 'Adult Mortality': 279.0, 'GDP': 553.32894, 'Population': 2883167.0, 'Schooling': 9.2}, {'Country': 'Afghanistan', 'Year': 2009, 'Status': 'Developing', 'Life expectancy ': 58.6, 'Adult Mortality': 281.0, 'GDP': 445.89329789999994, 'Population': 284331.0, 'Schooling': 8.9}, {'Country': 'Afghanistan', 'Year': 2008, 'Status': 'Developing', 'Life expectancy ': 58.1, 'Adult Mortality': 287.0, 'GDP': 373.3611163, 'Population': 2729431.0, 'Schooling': 8.7}  ... displaying 10 of 2426 total bound parameter sets ...  {'Country': 'Zimbabwe', 'Year': 2001, 'Status': 'Developing', 'Life expectancy ': 45.3, 'Adult Mortality': 686.0, 'GDP': 548.587312, 'Population': 12366165.0, 'Schooling': 9.8}, {'Country': 'Zimbabwe', 'Year': 2000, 'Status': 'Developing', 'Life expectancy ': 46.0, 'Adult Mortality': 665.0, 'GDP': 547.3588785000001, 'Population': 12222251.0, 'Schooling': 9.8})]
(Background on this error at: http://sqlalche.me/e/f405)

In [146]:
#load csv converted df into database
#developed countries, all years
developED_00_15.to_sql(name='developed_all_yrs', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country" of relation "developed_all_yrs" does not exist
LINE 1: INSERT INTO developed_all_yrs ("Country", "Year", "Status", ...
                                       ^

[SQL: INSERT INTO developed_all_yrs ("Country", "Year", "Status", "Life expectancy ", "Adult Mortality", "GDP", "Population", "Schooling") VALUES (%(Country)s, %(Year)s, %(Status)s, %(Life expectancy )s, %(Adult Mortality)s, %(GDP)s, %(Population)s, %(Schooling)s)]
[parameters: ({'Country': 'Australia', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 82.8, 'Adult Mortality': 59.0, 'GDP': 56554.3876, 'Population': 23789338.0, 'Schooling': 20.4}, {'Country': 'Australia', 'Year': 2014, 'Status': 'Developed', 'Life expectancy ': 82.7, 'Adult Mortality': 6.0, 'GDP': 62214.6912, 'Population': 2346694.0, 'Schooling': 20.4}, {'Country': 'Australia', 'Year': 2013, 'Status': 'Developed', 'Life expectancy ': 82.5, 'Adult Mortality': 61.0, 'GDP': 67792.3386, 'Population': 23117353.0, 'Schooling': 20.3}, {'Country': 'Australia', 'Year': 2012, 'Status': 'Developed', 'Life expectancy ': 82.3, 'Adult Mortality': 61.0, 'GDP': 67677.63477, 'Population': 22728254.0, 'Schooling': 20.1}, {'Country': 'Australia', 'Year': 2011, 'Status': 'Developed', 'Life expectancy ': 82.0, 'Adult Mortality': 63.0, 'GDP': 62245.129, 'Population': 223424.0, 'Schooling': 19.8}, {'Country': 'Australia', 'Year': 2010, 'Status': 'Developed', 'Life expectancy ': 81.9, 'Adult Mortality': 64.0, 'GDP': 51874.848, 'Population': 223175.0, 'Schooling': 19.5}, {'Country': 'Australia', 'Year': 2009, 'Status': 'Developed', 'Life expectancy ': 81.7, 'Adult Mortality': 66.0, 'GDP': 42742.998980000004, 'Population': 216917.0, 'Schooling': 19.1}, {'Country': 'Australia', 'Year': 2008, 'Status': 'Developed', 'Life expectancy ': 81.3, 'Adult Mortality': 66.0, 'GDP': 49664.6854, 'Population': 212492.0, 'Schooling': 19.1}  ... displaying 10 of 512 total bound parameter sets ...  {'Country': 'United States of America', 'Year': 2001, 'Status': 'Developed', 'Life expectancy ': 76.9, 'Adult Mortality': 115.0, 'GDP': None, 'Population': None, 'Schooling': None}, {'Country': 'United States of America', 'Year': 2000, 'Status': 'Developed', 'Life expectancy ': 76.8, 'Adult Mortality': 114.0, 'GDP': None, 'Population': None, 'Schooling': None})]
(Background on this error at: http://sqlalche.me/e/f405)

In [147]:
#load csv converted df into database
#all countries, year 2015
country_status_15.to_sql(name='all_countries_2015', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country" of relation "all_countries_2015" does not exist
LINE 1: INSERT INTO all_countries_2015 ("Country", "Year", "Status",...
                                        ^

[SQL: INSERT INTO all_countries_2015 ("Country", "Year", "Status", "Life expectancy ", "Adult Mortality", "GDP", "Population", "Schooling") VALUES (%(Country)s, %(Year)s, %(Status)s, %(Life expectancy )s, %(Adult Mortality)s, %(GDP)s, %(Population)s, %(Schooling)s)]
[parameters: ({'Country': 'Afghanistan', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 65.0, 'Adult Mortality': 263.0, 'GDP': 584.2592099999999, 'Population': 33736494.0, 'Schooling': 10.1}, {'Country': 'Albania', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 77.8, 'Adult Mortality': 74.0, 'GDP': 3954.22783, 'Population': 28873.0, 'Schooling': 14.2}, {'Country': 'Algeria', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 75.6, 'Adult Mortality': 19.0, 'GDP': 4132.76292, 'Population': 39871528.0, 'Schooling': 14.4}, {'Country': 'Angola', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 52.4, 'Adult Mortality': 335.0, 'GDP': 3695.7937479999996, 'Population': 2785935.0, 'Schooling': 11.4}, {'Country': 'Antigua and Barbuda', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 76.4, 'Adult Mortality': 13.0, 'GDP': 13566.9541, 'Population': None, 'Schooling': 13.9}, {'Country': 'Argentina', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 76.3, 'Adult Mortality': 116.0, 'GDP': 13467.1236, 'Population': 43417765.0, 'Schooling': 17.3}, {'Country': 'Armenia', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 74.8, 'Adult Mortality': 118.0, 'GDP': 369.65477599999997, 'Population': 291695.0, 'Schooling': 12.7}, {'Country': 'Australia', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 82.8, 'Adult Mortality': 59.0, 'GDP': 56554.3876, 'Population': 23789338.0, 'Schooling': 20.4}  ... displaying 10 of 183 total bound parameter sets ...  {'Country': 'Zambia', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 61.8, 'Adult Mortality': 33.0, 'GDP': 1313.889646, 'Population': 161587.0, 'Schooling': 12.5}, {'Country': 'Zimbabwe', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 67.0, 'Adult Mortality': 336.0, 'GDP': 118.69383, 'Population': 15777451.0, 'Schooling': 10.3})]
(Background on this error at: http://sqlalche.me/e/f405)

In [148]:
#load csv converted df into database
#developing countries, year 2015
developing_15.to_sql(name='developing_2015', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country" of relation "developing_2015" does not exist
LINE 1: INSERT INTO developing_2015 ("Country", "Year", "Status", "L...
                                     ^

[SQL: INSERT INTO developing_2015 ("Country", "Year", "Status", "Life expectancy ", "Adult Mortality", "GDP", "Population", "Schooling") VALUES (%(Country)s, %(Year)s, %(Status)s, %(Life expectancy )s, %(Adult Mortality)s, %(GDP)s, %(Population)s, %(Schooling)s)]
[parameters: ({'Country': 'Afghanistan', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 65.0, 'Adult Mortality': 263.0, 'GDP': 584.2592099999999, 'Population': 33736494.0, 'Schooling': 10.1}, {'Country': 'Albania', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 77.8, 'Adult Mortality': 74.0, 'GDP': 3954.22783, 'Population': 28873.0, 'Schooling': 14.2}, {'Country': 'Algeria', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 75.6, 'Adult Mortality': 19.0, 'GDP': 4132.76292, 'Population': 39871528.0, 'Schooling': 14.4}, {'Country': 'Angola', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 52.4, 'Adult Mortality': 335.0, 'GDP': 3695.7937479999996, 'Population': 2785935.0, 'Schooling': 11.4}, {'Country': 'Antigua and Barbuda', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 76.4, 'Adult Mortality': 13.0, 'GDP': 13566.9541, 'Population': None, 'Schooling': 13.9}, {'Country': 'Argentina', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 76.3, 'Adult Mortality': 116.0, 'GDP': 13467.1236, 'Population': 43417765.0, 'Schooling': 17.3}, {'Country': 'Armenia', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 74.8, 'Adult Mortality': 118.0, 'GDP': 369.65477599999997, 'Population': 291695.0, 'Schooling': 12.7}, {'Country': 'Azerbaijan', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 72.7, 'Adult Mortality': 118.0, 'GDP': 55.31381999999999, 'Population': 9649341.0, 'Schooling': 12.7}  ... displaying 10 of 151 total bound parameter sets ...  {'Country': 'Zambia', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 61.8, 'Adult Mortality': 33.0, 'GDP': 1313.889646, 'Population': 161587.0, 'Schooling': 12.5}, {'Country': 'Zimbabwe', 'Year': 2015, 'Status': 'Developing', 'Life expectancy ': 67.0, 'Adult Mortality': 336.0, 'GDP': 118.69383, 'Population': 15777451.0, 'Schooling': 10.3})]
(Background on this error at: http://sqlalche.me/e/f405)

In [149]:
#load csv converted df into database
#developed countries, year 2015
developed_15.to_sql(name='developed_2015', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country" of relation "developed_2015" does not exist
LINE 1: INSERT INTO developed_2015 ("Country", "Year", "Status", "Li...
                                    ^

[SQL: INSERT INTO developed_2015 ("Country", "Year", "Status", "Life expectancy ", "Adult Mortality", "GDP", "Population", "Schooling") VALUES (%(Country)s, %(Year)s, %(Status)s, %(Life expectancy )s, %(Adult Mortality)s, %(GDP)s, %(Population)s, %(Schooling)s)]
[parameters: ({'Country': 'Australia', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 82.8, 'Adult Mortality': 59.0, 'GDP': 56554.3876, 'Population': 23789338.0, 'Schooling': 20.4}, {'Country': 'Austria', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 81.5, 'Adult Mortality': 65.0, 'GDP': 43665.947, 'Population': 8633169.0, 'Schooling': 15.9}, {'Country': 'Belgium', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 81.1, 'Adult Mortality': 74.0, 'GDP': 4356.875, 'Population': 11274196.0, 'Schooling': 16.6}, {'Country': 'Bulgaria', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 74.5, 'Adult Mortality': 137.0, 'GDP': 6993.477359999999, 'Population': 7177991.0, 'Schooling': 15.0}, {'Country': 'Croatia', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 78.0, 'Adult Mortality': 95.0, 'GDP': 11579.6674, 'Population': 42364.0, 'Schooling': 15.3}, {'Country': 'Cyprus', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 85.0, 'Adult Mortality': 52.0, 'GDP': 2375.1127, 'Population': 116985.0, 'Schooling': 14.3}, {'Country': 'Czechia', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 78.8, 'Adult Mortality': 86.0, 'GDP': None, 'Population': None, 'Schooling': None}, {'Country': 'Denmark', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 86.0, 'Adult Mortality': 71.0, 'GDP': 5314.64416, 'Population': 5683483.0, 'Schooling': 19.2}  ... displaying 10 of 32 total bound parameter sets ...  {'Country': 'United Kingdom of Great Britain and Northern Ireland', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 81.2, 'Adult Mortality': 69.0, 'GDP': None, 'Population': None, 'Schooling': None}, {'Country': 'United States of America', 'Year': 2015, 'Status': 'Developed', 'Life expectancy ': 79.3, 'Adult Mortality': 13.0, 'GDP': None, 'Population': None, 'Schooling': None})]
(Background on this error at: http://sqlalche.me/e/f405)